@model HeyHotel.Models.User;

<table>
    <caption>User Detail</caption>
    <tr><th>Parametr name</th><th>Value</th></tr>
    <tr>
        <td>
            Id
        </td>
        <td>
            @Model.Id
        </td>
    </tr>
    <tr>
        <td>
            Email
        </td>
        <td>
            @Model.Email
        </td>
    </tr>
    <tr>
        <td>
            Name
        </td>
        <td>
            @Model.Name
        </td>
    </tr>
    <tr>
        <td>
            SurName
        </td>
        <td>
            @Model.SName
        </td>
    </tr>
    <tr>
        <td>
            Year
        </td>
        <td>
            @Model.Year
        </td>
    </tr>
    <tr>
        <td>
            Access Failed Count
        </td>
        <td>
            @Model.AccessFailedCount
        </td>
    </tr>
    <tr>
        <td>
            Phone number
        </td>
        <td>
            @Model.Phone
        </td>
    </tr>

</table>