@model HeyHotel.ViewModels.CreateOrderViewModel
@{ 
    string dateStr = DateTime.Now.ToString("yyyy-MM-dd");
    string timeStr = DateTime.Now.TimeOfDay.ToString(@"hh\:mm");
}

<div class="CreateOrderRNDiv">@Model.Room.RoomNumber</div>

<table class="CreateOrderTable">
    <tr>
        <td>Hotel`s location</td>
        <td>@Model.Room.Hotel.Location</td>
    </tr>   
    <tr>
        <td>Hotel`s email:</td>
        <td>@Model.Room.Hotel.Mail</td>
    </tr>
    <tr>
        <td>Hotel`s phone number</td>
        <td>@Model.Room.Hotel.PhoneNumber</td>
    </tr>
    <tr>
        <td>Floor of room</td>
        <td>@Model.Room.Floor</td>
    </tr>
    <tr>
        <td>Number of rooms</td>
        <td>@Model.Room.NumberOfRooms</td>
    </tr>
    <tr>
        <td>Price for a night</td>
        <td>@Model.Room.Price</td>
    </tr>
</table>

<form method="get" asp-action="ConfirmOrder" asp-controller="Order">
    <input type="hidden" asp-for="RoomId" value="@Model.RoomId" />
    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
    <div>
        <label asp-for="Date"></label>
        <input type="date" asp-for="Date" value="@dateStr" />
        <span asp-validation-for="Date"></span>
    </div>
    <div>
        <label asp-for="Time">Time arriving:</label>
        <input asp-for="Time" type="time" value="@timeStr"/>
        <span asp-validation-for="Time"></span>
    </div>
    <div>
        <label asp-for="NumOfNight">Num of night:</label>
        <input asp-for="NumOfNight" type="number" />
        <span asp-validation-for="NumOfNight"></span>
    </div>
    <div>
        <div>Personal discount: @Model.PersonalDiscount %</div>
        <div>(Also 5% for every next night)</div>
        <div>Price for night: @Model.Room.Price </div>
    </div>
    <button type="submit">Create order</button>
</form>
