@model IEnumerable<HeyHotel.Models.Hotel>

<table class="ItemListTable">
    <tr>
        <td>
            HotelName
        </td>
        <td>
            Hotel Location
        </td>
        <td>
            Number of Rooms
        </td>
        <td>
            Email
        </td>
        <td>
            Phone Number
        </td>
    </tr>
    @foreach (var hotel in Model)
    {
<tr>
    <td>@hotel.Id</td>
    <td>@hotel.Location</td>
    <td>@hotel.Rooms.Count</td>
    <td>@hotel.Mail</td>
    <td>@hotel.PhoneNumber</td>
    <td class="ActionButton"><a asp-action="EditHotel" asp-controller="Manager" asp-route-id="@hotel.Id">Edit</a></td>
    <td class="ActionButton"><a asp-action="RoomsList" asp-controller="Manager" asp-route-id="@hotel.Id">List of Rooms</a></td>
</tr>
    }

</table>