@model IEnumerable<HeyHotel.Models.Room>

<div class="BackButton"><a asp-action="HotelList" asp-controller="Manager">Back to Hotel list</a></div>

@if (@Model.FirstOrDefault() != null)
{
    <div>Rooms data for hotel with id: @Model.FirstOrDefault().Hotel.Id</div>
    <div>Hotel Location: @Model.FirstOrDefault().Hotel.Location</div>
}

<table class="ItemListTable">
    <tr>
        <td>Room Number</td>
        <td>Floor</td>
        <td>Number of sections</td>
        <td>Price</td>
    </tr>
    @foreach (var room in Model)
    {
        <tr>
            <td>@room.RoomNumber</td>
            <td>@room.Floor</td>
            <td>@room.NumberOfRooms</td>
            <td>@room.Price</td>
            <td class="ActionButton"><a asp-action="EditRoom" asp-controller="Manager" asp-route-id="@room.Id">Edit</a></td>
            <td class="ActionButton"><a asp-action="RoomDetail" asp-controller="Manager" asp-route-id="@room.Id">Detail</a></td>
            <td class="ActionButton"><a asp-action="DeleteRoom" asp-controller="Manager" asp-route-id="@room.Id">Delete</a></td>
        </tr>
    }
</table>